{% extends "incident/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend class = "border-bottom mb-4">
                Report Incident
            </legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit" onclick="this.disabled=true,this.form.submit()">
                Submit
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">

    inputFields = document.getElementsByTagName('input')
    selectFields = document.getElementsByTagName('select')
    setInterval(function() {
        if(selectFields[0].value == ""){
            now = new moment()

            console.log(inputFields[3].value != now.format("HH:mm"))
            if (inputFields[3].value != now.format("HH:mm")){
                inputFields[3].value = now.format("HH:mm")}
            }
    }, 5000);




</script>
{% endblock content %}